{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="utf-8" />
				<link type="text/css" rel="stylesheet" href="{% static 'css/style2.css' %}" />
	</head>
	<body>
			<section id="one" class="wrapper special">
				<div class="inner">
					<header class="major">
						<h2>Features of the project</h2>
					</header>
					<div class="features">
						<div class="feature">
							<i class="fa fa-gears"></i>
							<h3>ALGORTITHMS</h3>
							<p>Apart from Minimax Algorithm, we have also implemented titctactoe AI using Neural Networks and Logic Based Algorithm to give it a unique touch</p>
						</div>
						<div class="feature">
							<i class="fa fa-warning"></i>
							<h3>DIFFICULTY LEVELS</h3>
							<p>There are 3 difficulty levels for each AI algorithm implemented- Easy, Medium and Unbeatable.</p>
						</div>
						<div class="feature">
							<i class="fa fa-wrench"></i>
							<h3>FUNCTIONAL PARADIGM</h3>
							<p>Agent behavior has been emulated using Functional Programming paradigm with functions that act on other functions.</p>
						</div>
						<div class="feature">
							<i class="fa fa-refresh"></i>
							<h3>REVERSE TICTACTOE</h3>
							<p>Reverse TicTacToe ,another unique feature of our project, has been implemented using Minimax algortihm.</p>
						</div>
						<div class="feature">
							<i class="fa fa-lightbulb-o"></i>
							<h3>HINTS</h3>
							<p>An option for hint,another unique feature, is provided which suggests the best possible next move to Human player.</p>
						</div>
						<div class="feature">
							<i class="fa fa-group"></i>
							<h3>PvP WITH 2 GRIDS</h3>
							<p>Player vs Player option with 3x3 and 4x4 grid sizes is present for multi-player gaming making it yet another unique feature of our app.</p>
						</div>
					</div>
					<button class="btn green"onclick="window.location.href='{% url 'home' %}'">GO TO BASE</button>
				</div>
			</section>
	</div>


	</body>
</html>

